@import 'src/tokens';

.ScaleControls {
  padding: 0.5rem 0;
  &__canvas {
    position: relative;
  }
  &__canvas-points-overlay {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__hue-slider {
    font-size: 0.75rem;
    font-weight: 500;
    color: $text-on-white--subdued;
    display: grid;
    grid-template-columns: 3.5rem auto;
    align-items: center;
  }
}
