* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ThemeGenerator {
  display: block;
}
