@import 'tokens';

.HueSlider {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 1.25rem;
  &__track {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 0.75rem;
  }
  &__background {
    position: relative;
    border-radius: 100rem;
    height: 1px;
    transition: height 150ms ease-out;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &--tall {
      height: 0.75rem;
    }
  }
  &__thumb {
    background-color: $color-white;
    width: calc(0.5rem + 1px);
    height: calc(0.5rem + 1px);
    transition: height 150ms ease-out;
    border-radius: 100rem;
    border: $pixels-1 solid $color-grey-300;
    transform: translate(-50%, -50%);
    cursor: ew-resize;
    &--tall {
      height: 1.125rem;
    }
    &--has-keyboard-focus {
      box-shadow: $focus-ring;
    }
  }
}
