.CanvasPointsOverlay {
  position: relative;
  box-sizing: border-box;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  &__chroma-slider {
    position: absolute;
    transform: translateY(50%);
    width: 100%;
  }
}
