$outline-color: rgb(0, 153, 255);
$checkmark-size: 3rem;

.Shade {
  padding: 0.5rem;
  min-height: 10rem;
  overflow: hidden;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__token-name {
    font-size: 0.75rem;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
  }
  &__details {
    border: 1px solid currentColor;
    padding: 0.25rem;
  }

  &__checkmark {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: $checkmark-size;
    width: $checkmark-size;
    overflow: hidden;
  }

  &__checkbox_input {
    background-color: var(--text-color);
    display: block;
    margin: 0;
    appearance: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transform: translate(50%, -50%) rotate(45deg);
    opacity: 0;
    .Shade:hover & {
      opacity: 0.25;

      &:hover {
        opacity: 1;
      }
    }

    &:focus-visible {
      outline: 0.25rem solid $outline-color;
      outline-offset: 0;
    }
  }

  &__checkmark-icon {
    color: var(--shade-color);
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;

    .Shade:hover & {
      opacity: 1;
    }

    .Shade--is-default & {
      opacity: 1;
      color: var(--text-color);
    }

    .Shade--is-default:hover {
      color: var(--shade-color);
    }

    .Shade--is-default .Shade__checkmark--is-hovered & {
      color: var(--shade-color);
    }
  }
}
