.Shade {
  padding: 0.5rem;
  min-height: 5rem;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__token-name {
    font-size: 0.75rem;
    margin-bottom: 1rem;
  }
  &__details {
    border: 1px solid currentColor;
    padding: 0.25rem;
  }
  &__checkmark {
    opacity: 0;
  }
}

.Shade:hover .Shade__checkmark {
  opacity: 0.75;
}
