.CanvasKnockoutAttempt {
  display: block;
  // border: 1px solid red;
  position: relative;
  &__main-canvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__knockout-canvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
