@import 'src/tokens';

.ChromaSlider {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  &__track {
    position: relative;
    height: 0.75rem;
    &--dark {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  &__thumb {
    background-color: $color-white;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100rem;
    // prettier-ignore
    box-shadow: 
      0 0 0.125rem rgba(0, 0, 0, 1),
      0 0 0.375rem rgba(0, 0, 0, .5);
    transform: translate(-50%, -50%);
    cursor: ew-resize;
  }
}
