.dark-blue-theme {
  --theme-gen-color-white: #ffffff;

  --theme-gen-color-grey-050: #f7f6f8;
  --theme-gen-color-grey-100: #e9e7ed;
  --theme-gen-color-grey-200: #d6d3da;
  --theme-gen-color-grey-300: #b7b5bc;
  --theme-gen-color-grey-400: #97959d;
  --theme-gen-color-grey-500: #75737a;
  --theme-gen-color-grey-600: #5d5b62;
  --theme-gen-color-grey-700: #413f45;
  --theme-gen-color-grey-800: #27252a;
  --theme-gen-color-grey-900: #121015;

  --theme-gen-color-primary-050: #f8f5fe;
  --theme-gen-color-primary-100: #ebe5f7;
  --theme-gen-color-primary-200: #d9d0ed;
  --theme-gen-color-primary-300: #bdafdc;
  --theme-gen-color-primary-400: #9e8dc5;
  --theme-gen-color-primary-500: #7c69b2;
  --theme-gen-color-primary-600: #614fa0;
  --theme-gen-color-primary-700: #3f318b;
  --theme-gen-color-primary-800: #181570;
  --theme-gen-color-primary-900: #130931;

  --theme-gen-color-secondary-050: #fff5ea;
  --theme-gen-color-secondary-100: #ffe4c6;
  --theme-gen-color-secondary-200: #ffcb8b;
  --theme-gen-color-secondary-300: #f7a500;
  --theme-gen-color-secondary-400: #cc8806;
  --theme-gen-color-secondary-500: #9f6900;
  --theme-gen-color-secondary-600: #7f5300;
  --theme-gen-color-secondary-700: #593900;
  --theme-gen-color-secondary-800: #352200;
  --theme-gen-color-secondary-900: #190f00;

  --theme-gen-color-tertiary-050: #eaf9ff;
  --theme-gen-color-tertiary-100: #c5efff;
  --theme-gen-color-tertiary-200: #87e1ff;
  --theme-gen-color-tertiary-300: #44c4e9;
  --theme-gen-color-tertiary-400: #28a2c3;
  --theme-gen-color-tertiary-500: #0b7f9a;
  --theme-gen-color-tertiary-600: #0e647a;
  --theme-gen-color-tertiary-700: #094656;
  --theme-gen-color-tertiary-800: #052a34;
  --theme-gen-color-tertiary-900: #001419;

  --theme-gen-color-success-050: #e1ffd8;
  --theme-gen-color-success-100: #c3f6b5;
  --theme-gen-color-success-200: #9fe68e;
  --theme-gen-color-success-300: #66cc57;
  --theme-gen-color-success-400: #0cae16;
  --theme-gen-color-success-500: #00880c;
  --theme-gen-color-success-600: #006c07;
  --theme-gen-color-success-700: #004b03;
  --theme-gen-color-success-800: #082d00;
  --theme-gen-color-success-900: #061400;

  --theme-gen-color-warning-050: #fff4ef;
  --theme-gen-color-warning-100: #ffe3d4;
  --theme-gen-color-warning-200: #ffc9ac;
  --theme-gen-color-warning-300: #f3a377;
  --theme-gen-color-warning-400: #e17b3d;
  --theme-gen-color-warning-500: #c15300;
  --theme-gen-color-warning-600: #9a4100;
  --theme-gen-color-warning-700: #6d2c00;
  --theme-gen-color-warning-800: #401c00;
  --theme-gen-color-warning-900: #1d0d00;

  --theme-gen-color-danger-050: #fff4f3;
  --theme-gen-color-danger-100: #ffe2de;
  --theme-gen-color-danger-200: #ffc7c0;
  --theme-gen-color-danger-300: #ff9b90;
  --theme-gen-color-danger-400: #ff615a;
  --theme-gen-color-danger-500: #e6122f;
  --theme-gen-color-danger-600: #b90b23;
  --theme-gen-color-danger-700: #860015;
  --theme-gen-color-danger-800: #540004;
  --theme-gen-color-danger-900: #250800;

  --theme-gen-text-on-primary-050: #342c47;
  --theme-gen-text-on-primary-050--subdued: #716a81;
  --theme-gen-text-on-primary-050--vivid: #5845cc;
  --theme-gen-text-on-primary-050--vivid-subdued--UNSAFE: #886fd9;

  --theme-gen-text-on-primary-100: #342c47;
  --theme-gen-text-on-primary-100--subdued: #6c647d;
  --theme-gen-text-on-primary-100--vivid: #4c3bc0;
  --theme-gen-text-on-primary-100--vivid-subdued--UNSAFE: #7c64cf;

  --theme-gen-text-on-primary-200: #342c47;
  --theme-gen-text-on-primary-200--subdued: #5e5672;
  --theme-gen-text-on-primary-200--vivid: #4234b8;
  --theme-gen-text-on-primary-200--vivid-subdued--UNSAFE: #7059c6;

  --theme-gen-text-on-primary-300: #342c47;
  --theme-gen-text-on-primary-300--subdued--UNSAFE: #534a6a;
  --theme-gen-text-on-primary-300--vivid: #3b30b2;
  --theme-gen-text-on-primary-300--vivid-subdued--UNSAFE: #644ebd;

  --theme-gen-text-on-primary-400: #29223c;
  --theme-gen-text-on-primary-400--subdued--UNSAFE: #443a5c;
  --theme-gen-text-on-primary-400--vivid: #001591;
  --theme-gen-text-on-primary-400--vivid-subdued--UNSAFE: #41329e;

  --theme-gen-text-on-primary-500: #ffffff;
  --theme-gen-text-on-primary-500--subdued--UNSAFE: #ded8ec;
  --theme-gen-text-on-primary-500--vivid: #fdfcff;
  --theme-gen-text-on-primary-500--vivid-subdued--UNSAFE: #ddd5ec;

  --theme-gen-text-on-primary-600: #fdfcff;
  --theme-gen-text-on-primary-600--subdued--UNSAFE: #d6cee7;
  --theme-gen-text-on-primary-600--vivid: #f4eeff;
  --theme-gen-text-on-primary-600--vivid-subdued--UNSAFE: #cfc4e7;

  --theme-gen-text-on-primary-700: #fdfcff;
  --theme-gen-text-on-primary-700--subdued: #cec5e2;
  --theme-gen-text-on-primary-700--vivid: #b69bff;
  --theme-gen-text-on-primary-700--vivid-subdued--UNSAFE: #987fe1;

  --theme-gen-text-on-primary-800: #f8f5ff;
  --theme-gen-text-on-primary-800--subdued: #c3b7da;
  --theme-gen-text-on-primary-800--vivid: #9578ff;
  --theme-gen-text-on-primary-800--vivid-subdued--UNSAFE: #765dd9;

  --theme-gen-text-on-primary-900: #f6f1ff;
  --theme-gen-text-on-primary-900--subdued: #b8b0c7;
  --theme-gen-text-on-primary-900--vivid: #8b6ffc;
  --theme-gen-text-on-primary-900--vivid-subdued--UNSAFE: #6a54c4;

  --theme-gen-text-on-secondary-050: #442b00;
  --theme-gen-text-on-secondary-050--subdued: #82694a;
  --theme-gen-text-on-secondary-050--vivid: #7f5300;
  --theme-gen-text-on-secondary-050--vivid-subdued--UNSAFE: #a2783f;

  --theme-gen-text-on-secondary-100: #442b00;
  --theme-gen-text-on-secondary-100--subdued: #7f623e;
  --theme-gen-text-on-secondary-100--vivid: #724a00;
  --theme-gen-text-on-secondary-100--vivid-subdued--UNSAFE: #966d34;

  --theme-gen-text-on-secondary-200: #442b00;
  --theme-gen-text-on-secondary-200--subdued: #745426;
  --theme-gen-text-on-secondary-200--vivid: #694400;
  --theme-gen-text-on-secondary-200--vivid-subdued--UNSAFE: #8d6324;

  --theme-gen-text-on-secondary-300: #442b00;
  --theme-gen-text-on-secondary-300--subdued--UNSAFE: #6d4705;
  --theme-gen-text-on-secondary-300--vivid: #633f00;
  --theme-gen-text-on-secondary-300--vivid-subdued--UNSAFE: #855700;

  --theme-gen-text-on-secondary-400: #352200;
  --theme-gen-text-on-secondary-400--subdued--UNSAFE: #573908;
  --theme-gen-text-on-secondary-400--vivid: #3f2800;
  --theme-gen-text-on-secondary-400--vivid-subdued--UNSAFE: #5f3e06;

  --theme-gen-text-on-secondary-500: #ffffff;
  --theme-gen-text-on-secondary-500--subdued--UNSAFE: #edd7c0;
  --theme-gen-text-on-secondary-500--vivid: #fffcf8;
  --theme-gen-text-on-secondary-500--vivid-subdued--UNSAFE: #ecd5bb;

  --theme-gen-text-on-secondary-600: #fffcf8;
  --theme-gen-text-on-secondary-600--subdued--UNSAFE: #e3ceb9;
  --theme-gen-text-on-secondary-600--vivid: #ffeedc;
  --theme-gen-text-on-secondary-600--vivid-subdued--UNSAFE: #e1c5a4;

  --theme-gen-text-on-secondary-700: #fffcf8;
  --theme-gen-text-on-secondary-700--subdued: #d7c7b5;
  --theme-gen-text-on-secondary-700--vivid: #feaa00;
  --theme-gen-text-on-secondary-700--vivid-subdued--UNSAFE: #d28c01;

  --theme-gen-text-on-secondary-800: #fff5ea;
  --theme-gen-text-on-secondary-800--subdued: #cabaaa;
  --theme-gen-text-on-secondary-800--vivid: #feaa00;
  --theme-gen-text-on-secondary-800--vivid-subdued--UNSAFE: #c78507;

  --theme-gen-text-on-secondary-900: #fff1e3;
  --theme-gen-text-on-secondary-900--subdued: #beb2a5;
  --theme-gen-text-on-secondary-900--vivid: #feaa00;
  --theme-gen-text-on-secondary-900--vivid-subdued--UNSAFE: #be7f0f;

  --theme-gen-text-on-tertiary-050: #003543;
  --theme-gen-text-on-tertiary-050--subdued: #53727e;
  --theme-gen-text-on-tertiary-050--vivid: #00657b;
  --theme-gen-text-on-tertiary-050--vivid-subdued--UNSAFE: #50889a;

  --theme-gen-text-on-tertiary-100: #003543;
  --theme-gen-text-on-tertiary-100--subdued: #436d7c;
  --theme-gen-text-on-tertiary-100--vivid: #015a6f;
  --theme-gen-text-on-tertiary-100--vivid-subdued--UNSAFE: #407d91;

  --theme-gen-text-on-tertiary-200: #003543;
  --theme-gen-text-on-tertiary-200--subdued: #266173;
  --theme-gen-text-on-tertiary-200--vivid: #005366;
  --theme-gen-text-on-tertiary-200--vivid-subdued--UNSAFE: #29748a;

  --theme-gen-text-on-tertiary-300: #003543;
  --theme-gen-text-on-tertiary-300--subdued--UNSAFE: #0e5669;
  --theme-gen-text-on-tertiary-300--vivid: #004e60;
  --theme-gen-text-on-tertiary-300--vivid-subdued--UNSAFE: #126980;

  --theme-gen-text-on-tertiary-400: #002a35;
  --theme-gen-text-on-tertiary-400--subdued--UNSAFE: #064555;
  --theme-gen-text-on-tertiary-400--vivid: #00313e;
  --theme-gen-text-on-tertiary-400--vivid-subdued--UNSAFE: #064b5c;

  --theme-gen-text-on-tertiary-500: #ffffff;
  --theme-gen-text-on-tertiary-500--subdued--UNSAFE: #cbdee5;
  --theme-gen-text-on-tertiary-500--vivid: #f8fdff;
  --theme-gen-text-on-tertiary-500--vivid-subdued--UNSAFE: #c6dce5;

  --theme-gen-text-on-tertiary-600: #f8fdff;
  --theme-gen-text-on-tertiary-600--subdued--UNSAFE: #c2d5dc;
  --theme-gen-text-on-tertiary-600--vivid: #dbf5ff;
  --theme-gen-text-on-tertiary-600--vivid-subdued--UNSAFE: #accfdc;

  --theme-gen-text-on-tertiary-700: #f8fdff;
  --theme-gen-text-on-tertiary-700--subdued: #bdccd2;
  --theme-gen-text-on-tertiary-700--vivid: #01d2fe;
  --theme-gen-text-on-tertiary-700--vivid-subdued--UNSAFE: #09add1;

  --theme-gen-text-on-tertiary-800: #eaf9ff;
  --theme-gen-text-on-tertiary-800--subdued: #adc0c7;
  --theme-gen-text-on-tertiary-800--vivid: #01d2fe;
  --theme-gen-text-on-tertiary-800--vivid-subdued--UNSAFE: #08a4c7;

  --theme-gen-text-on-tertiary-900: #e3f7ff;
  --theme-gen-text-on-tertiary-900--subdued: #a4b7be;
  --theme-gen-text-on-tertiary-900--vivid: #01d2fe;
  --theme-gen-text-on-tertiary-900--vivid-subdued--UNSAFE: #119dbe;

  --theme-gen-text-on-success-050: #023900;
  --theme-gen-text-on-success-050--subdued: #4e7845;
  --theme-gen-text-on-success-050--vivid: #006c07;
  --theme-gen-text-on-success-050--vivid-subdued--UNSAFE: #4a8f3f;

  --theme-gen-text-on-success-100: #023900;
  --theme-gen-text-on-success-100--subdued: #427339;
  --theme-gen-text-on-success-100--vivid: #006106;
  --theme-gen-text-on-success-100--vivid-subdued--UNSAFE: #3e8434;

  --theme-gen-text-on-success-200: #023900;
  --theme-gen-text-on-success-200--subdued: #2f6627;
  --theme-gen-text-on-success-200--vivid: #005905;
  --theme-gen-text-on-success-200--vivid-subdued--UNSAFE: #317a29;

  --theme-gen-text-on-success-300: #023900;
  --theme-gen-text-on-success-300--subdued--UNSAFE: #1a5b15;
  --theme-gen-text-on-success-300--vivid: #005304;
  --theme-gen-text-on-success-300--vivid-subdued--UNSAFE: #1e7019;

  --theme-gen-text-on-success-400: #082d00;
  --theme-gen-text-on-success-400--subdued--UNSAFE: #0a4a09;
  --theme-gen-text-on-success-400--vivid: #053500;
  --theme-gen-text-on-success-400--vivid-subdued--UNSAFE: #055107;

  --theme-gen-text-on-success-500: #ffffff;
  --theme-gen-text-on-success-500--subdued--UNSAFE: #cae1c3;
  --theme-gen-text-on-success-500--vivid: #f5fff2;
  --theme-gen-text-on-success-500--vivid-subdued--UNSAFE: #c2e1b9;

  --theme-gen-text-on-success-600: #f5fff2;
  --theme-gen-text-on-success-600--subdued--UNSAFE: #bed9b6;
  --theme-gen-text-on-success-600--vivid: #caffbb;
  --theme-gen-text-on-success-600--vivid-subdued--UNSAFE: #9dd98e;

  --theme-gen-text-on-success-700: #f5fff2;
  --theme-gen-text-on-success-700--subdued: #b9d0b2;
  --theme-gen-text-on-success-700--vivid: #01fc20;
  --theme-gen-text-on-success-700--vivid-subdued--UNSAFE: #01cd17;

  --theme-gen-text-on-success-800: #e1ffd8;
  --theme-gen-text-on-success-800--subdued: #a6c69d;
  --theme-gen-text-on-success-800--vivid: #01fc20;
  --theme-gen-text-on-success-800--vivid-subdued--UNSAFE: #0cc319;

  --theme-gen-text-on-success-900: #d6ffca;
  --theme-gen-text-on-success-900--subdued: #9cbd93;
  --theme-gen-text-on-success-900--vivid: #01fc20;
  --theme-gen-text-on-success-900--vivid-subdued--UNSAFE: #1cbb1f;

  --theme-gen-text-on-warning-050: #532200;
  --theme-gen-text-on-warning-050--subdued: #8f644c;
  --theme-gen-text-on-warning-050--vivid: #9a4100;
  --theme-gen-text-on-warning-050--vivid-subdued--UNSAFE: #ba6c3f;

  --theme-gen-text-on-warning-100: #532200;
  --theme-gen-text-on-warning-100--subdued: #8c5c42;
  --theme-gen-text-on-warning-100--vivid: #8b3a00;
  --theme-gen-text-on-warning-100--vivid-subdued--UNSAFE: #ac6236;

  --theme-gen-text-on-warning-200: #532200;
  --theme-gen-text-on-warning-200--subdued: #814d2f;
  --theme-gen-text-on-warning-200--vivid: #803500;
  --theme-gen-text-on-warning-200--vivid-subdued--UNSAFE: #a1582c;

  --theme-gen-text-on-warning-300: #532200;
  --theme-gen-text-on-warning-300--subdued--UNSAFE: #78401e;
  --theme-gen-text-on-warning-300--vivid: #783100;
  --theme-gen-text-on-warning-300--vivid-subdued--UNSAFE: #974c1f;

  --theme-gen-text-on-warning-400: #401c00;
  --theme-gen-text-on-warning-400--subdued--UNSAFE: #653112;
  --theme-gen-text-on-warning-400--vivid: #4c2000;
  --theme-gen-text-on-warning-400--vivid-subdued--UNSAFE: #6e3511;

  --theme-gen-text-on-warning-500: #ffffff;
  --theme-gen-text-on-warning-500--subdued--UNSAFE: #f9d3bf;
  --theme-gen-text-on-warning-500--vivid: #fffbfa;
  --theme-gen-text-on-warning-500--vivid-subdued--UNSAFE: #f8d0bc;

  --theme-gen-text-on-warning-600: #fffbfa;
  --theme-gen-text-on-warning-600--subdued--UNSAFE: #edcbb9;
  --theme-gen-text-on-warning-600--vivid: #ffede4;
  --theme-gen-text-on-warning-600--vivid-subdued--UNSAFE: #ebc0aa;

  --theme-gen-text-on-warning-700: #fffbfa;
  --theme-gen-text-on-warning-700--subdued: #dfc4b6;
  --theme-gen-text-on-warning-700--vivid: #ff8d48;
  --theme-gen-text-on-warning-700--vivid-subdued--UNSAFE: #d97336;

  --theme-gen-text-on-warning-800: #fff4ef;
  --theme-gen-text-on-warning-800--subdued: #ceb9ad;
  --theme-gen-text-on-warning-800--vivid: #ff7000;
  --theme-gen-text-on-warning-800--vivid-subdued--UNSAFE: #cb5906;

  --theme-gen-text-on-warning-900: #fff1ea;
  --theme-gen-text-on-warning-900--subdued: #c0b1aa;
  --theme-gen-text-on-warning-900--vivid: #ff7000;
  --theme-gen-text-on-warning-900--vivid-subdued--UNSAFE: #c0560b;

  --theme-gen-text-on-danger-050: #68000d;
  --theme-gen-text-on-danger-050--subdued: #a15952;
  --theme-gen-text-on-danger-050--vivid: #bb0022;
  --theme-gen-text-on-danger-050--vivid-subdued--UNSAFE: #d45750;

  --theme-gen-text-on-danger-100: #68000d;
  --theme-gen-text-on-danger-100--subdued: #9e514a;
  --theme-gen-text-on-danger-100--vivid: #a9001d;
  --theme-gen-text-on-danger-100--vivid-subdued--UNSAFE: #c54e48;

  --theme-gen-text-on-danger-200: #68000d;
  --theme-gen-text-on-danger-200--subdued: #943f39;
  --theme-gen-text-on-danger-200--vivid: #9b001a;
  --theme-gen-text-on-danger-200--vivid-subdued--UNSAFE: #b8443f;

  --theme-gen-text-on-danger-300: #68000d;
  --theme-gen-text-on-danger-300--subdued--UNSAFE: #8d2d2b;
  --theme-gen-text-on-danger-300--vivid: #930018;
  --theme-gen-text-on-danger-300--vivid-subdued--UNSAFE: #af3533;

  --theme-gen-text-on-danger-400: #540004;
  --theme-gen-text-on-danger-400--subdued--UNSAFE: #7c181b;
  --theme-gen-text-on-danger-400--vivid: #61000a;
  --theme-gen-text-on-danger-400--vivid-subdued--UNSAFE: #861a1e;

  --theme-gen-text-on-danger-500: #ffffff;
  --theme-gen-text-on-danger-500--subdued--UNSAFE: #ffcec7;
  --theme-gen-text-on-danger-500--vivid: #fffbfb;
  --theme-gen-text-on-danger-500--vivid-subdued--UNSAFE: #ffcbc4;

  --theme-gen-text-on-danger-600: #fffbfb;
  --theme-gen-text-on-danger-600--subdued--UNSAFE: #f7c6c0;
  --theme-gen-text-on-danger-600--vivid: #ffedea;
  --theme-gen-text-on-danger-600--vivid-subdued--UNSAFE: #f5bbb4;

  --theme-gen-text-on-danger-700: #fffbfb;
  --theme-gen-text-on-danger-700--subdued: #e8c0bb;
  --theme-gen-text-on-danger-700--vivid: #ff897e;
  --theme-gen-text-on-danger-700--vivid-subdued--UNSAFE: #e16b62;

  --theme-gen-text-on-danger-800: #fff4f3;
  --theme-gen-text-on-danger-800--subdued: #d7b5b0;
  --theme-gen-text-on-danger-800--vivid: #ff4d4c;
  --theme-gen-text-on-danger-800--vivid-subdued--UNSAFE: #d1393a;

  --theme-gen-text-on-danger-900: #fff0ee;
  --theme-gen-text-on-danger-900--subdued: #c3b0ad;
  --theme-gen-text-on-danger-900--vivid: #fd0031;
  --theme-gen-text-on-danger-900--vivid-subdued--UNSAFE: #c01326;

  --theme-gen-text-on-white: #312f35;
  --theme-gen-text-on-white--subdued: #737176;
  --theme-gen-text-on-white--primary: #6b53dd;
  --theme-gen-text-on-white--primary-subdued--UNSAFE: #9e92e6;
  --theme-gen-text-on-white--secondary: #936000;
  --theme-gen-text-on-white--secondary-subdued--UNSAFE: #b49880;
  --theme-gen-text-on-white--tertiary: #00748e;
  --theme-gen-text-on-white--tertiary-subdued--UNSAFE: #80a2b1;
  --theme-gen-text-on-white--success: #007c0a;
  --theme-gen-text-on-white--success-subdued--UNSAFE: #80a780;
  --theme-gen-text-on-white--warning: #b24c00;
  --theme-gen-text-on-white--warning-subdued--UNSAFE: #c88f80;
  --theme-gen-text-on-white--danger: #d70028;
  --theme-gen-text-on-white--danger-subdued--UNSAFE: #e28084;

  --theme-gen-text-on-grey-050: #312f35;
  --theme-gen-text-on-grey-050--subdued: #6e6d72;
  --theme-gen-text-on-grey-050--primary: #5845cc;
  --theme-gen-text-on-grey-050--primary-subdued--UNSAFE: #9189d8;
  --theme-gen-text-on-grey-050--secondary: #7f5300;
  --theme-gen-text-on-grey-050--secondary-subdued--UNSAFE: #a58e7c;
  --theme-gen-text-on-grey-050--tertiary: #00657b;
  --theme-gen-text-on-grey-050--tertiary-subdued--UNSAFE: #7c97a3;
  --theme-gen-text-on-grey-050--success: #006c07;
  --theme-gen-text-on-grey-050--success-subdued--UNSAFE: #7c9b7c;
  --theme-gen-text-on-grey-050--warning: #9a4100;
  --theme-gen-text-on-grey-050--warning-subdued--UNSAFE: #b6877c;
  --theme-gen-text-on-grey-050--danger: #bb0022;
  --theme-gen-text-on-grey-050--danger-subdued--UNSAFE: #cc7b7f;

  --theme-gen-text-on-grey-100: #312f35;
  --theme-gen-text-on-grey-100--subdued: #69676d;
  --theme-gen-text-on-grey-100--primary: #4c3bc0;
  --theme-gen-text-on-grey-100--primary-subdued--UNSAFE: #867ecc;
  --theme-gen-text-on-grey-100--secondary: #724a00;
  --theme-gen-text-on-grey-100--secondary-subdued--UNSAFE: #998477;
  --theme-gen-text-on-grey-100--tertiary: #015a6f;
  --theme-gen-text-on-grey-100--tertiary-subdued--UNSAFE: #758b99;
  --theme-gen-text-on-grey-100--success: #006106;
  --theme-gen-text-on-grey-100--success-subdued--UNSAFE: #758f77;
  --theme-gen-text-on-grey-100--warning: #8b3a00;
  --theme-gen-text-on-grey-100--warning-subdued--UNSAFE: #a87e77;
  --theme-gen-text-on-grey-100--danger: #a9001d;
  --theme-gen-text-on-grey-100--danger-subdued--UNSAFE: #bb7479;

  --theme-gen-text-on-grey-200: #312f35;
  --theme-gen-text-on-grey-200--subdued: #5b595f;
  --theme-gen-text-on-grey-200--primary: #4234b8;
  --theme-gen-text-on-grey-200--primary-subdued--UNSAFE: #7973c1;
  --theme-gen-text-on-grey-200--secondary: #694400;
  --theme-gen-text-on-grey-200--secondary-subdued--UNSAFE: #8c796d;
  --theme-gen-text-on-grey-200--tertiary: #005366;
  --theme-gen-text-on-grey-200--tertiary-subdued--UNSAFE: #6b808c;
  --theme-gen-text-on-grey-200--success: #005905;
  --theme-gen-text-on-grey-200--success-subdued--UNSAFE: #6b836d;
  --theme-gen-text-on-grey-200--warning: #803500;
  --theme-gen-text-on-grey-200--warning-subdued--UNSAFE: #9a736d;
  --theme-gen-text-on-grey-200--danger: #9b001a;
  --theme-gen-text-on-grey-200--danger-subdued--UNSAFE: #ac6a6f;

  --theme-gen-text-on-grey-300: #312f35;
  --theme-gen-text-on-grey-300--subdued--UNSAFE: #504e54;
  --theme-gen-text-on-grey-300--primary: #3b30b2;
  --theme-gen-text-on-grey-300--primary-subdued--UNSAFE: #6964b5;
  --theme-gen-text-on-grey-300--secondary: #633f00;
  --theme-gen-text-on-grey-300--secondary-subdued--UNSAFE: #7d6a5e;
  --theme-gen-text-on-grey-300--tertiary: #004e60;
  --theme-gen-text-on-grey-300--tertiary-subdued--UNSAFE: #5c717d;
  --theme-gen-text-on-grey-300--success: #005304;
  --theme-gen-text-on-grey-300--success-subdued--UNSAFE: #5c745e;
  --theme-gen-text-on-grey-300--warning: #783100;
  --theme-gen-text-on-grey-300--warning-subdued--UNSAFE: #8a645e;
  --theme-gen-text-on-grey-300--danger: #930018;
  --theme-gen-text-on-grey-300--danger-subdued--UNSAFE: #9d5b60;

  --theme-gen-text-on-grey-400: #27252b;
  --theme-gen-text-on-grey-400--subdued--UNSAFE: #403e45;
  --theme-gen-text-on-grey-400--primary: #001591;
  --theme-gen-text-on-grey-400--primary-subdued--UNSAFE: #4c4d94;
  --theme-gen-text-on-grey-400--secondary: #3f2800;
  --theme-gen-text-on-grey-400--secondary-subdued--UNSAFE: #5d524f;
  --theme-gen-text-on-grey-400--tertiary: #00313e;
  --theme-gen-text-on-grey-400--tertiary-subdued--UNSAFE: #4c565f;
  --theme-gen-text-on-grey-400--success: #053500;
  --theme-gen-text-on-grey-400--success-subdued--UNSAFE: #4c584f;
  --theme-gen-text-on-grey-400--warning: #4c2000;
  --theme-gen-text-on-grey-400--warning-subdued--UNSAFE: #644f4f;
  --theme-gen-text-on-grey-400--danger: #61000a;
  --theme-gen-text-on-grey-400--danger-subdued--UNSAFE: #714b4f;

  --theme-gen-text-on-grey-500: #ffffff;
  --theme-gen-text-on-grey-500--subdued--UNSAFE: #dbdadc;
  --theme-gen-text-on-grey-500--primary: #fdfcff;
  --theme-gen-text-on-grey-500--primary-subdued--UNSAFE: #e3e2e5;
  --theme-gen-text-on-grey-500--secondary: #fffcf8;
  --theme-gen-text-on-grey-500--secondary-subdued--UNSAFE: #e4e2df;
  --theme-gen-text-on-grey-500--tertiary: #f8fdff;
  --theme-gen-text-on-grey-500--tertiary-subdued--UNSAFE: #dfe3e5;
  --theme-gen-text-on-grey-500--success: #f5fff2;
  --theme-gen-text-on-grey-500--success-subdued--UNSAFE: #dce4da;
  --theme-gen-text-on-grey-500--warning: #fffbfa;
  --theme-gen-text-on-grey-500--warning-subdued--UNSAFE: #e4e1e1;
  --theme-gen-text-on-grey-500--danger: #fffbfb;
  --theme-gen-text-on-grey-500--danger-subdued--UNSAFE: #e4e1e2;

  --theme-gen-text-on-grey-600: #fdfcff;
  --theme-gen-text-on-grey-600--subdued--UNSAFE: #d2d1d5;
  --theme-gen-text-on-grey-600--primary: #f4eeff;
  --theme-gen-text-on-grey-600--primary-subdued--UNSAFE: #d8d3e2;
  --theme-gen-text-on-grey-600--secondary: #ffeedc;
  --theme-gen-text-on-grey-600--secondary-subdued--UNSAFE: #e2d3c5;
  --theme-gen-text-on-grey-600--tertiary: #dbf5ff;
  --theme-gen-text-on-grey-600--tertiary-subdued--UNSAFE: #c3d9e2;
  --theme-gen-text-on-grey-600--success: #caffbb;
  --theme-gen-text-on-grey-600--success-subdued--UNSAFE: #b5e1a9;
  --theme-gen-text-on-grey-600--warning: #ffede4;
  --theme-gen-text-on-grey-600--warning-subdued--UNSAFE: #e2d2cb;
  --theme-gen-text-on-grey-600--danger: #ffedea;
  --theme-gen-text-on-grey-600--danger-subdued--UNSAFE: #e2d2d0;

  --theme-gen-text-on-grey-700: #fdfcff;
  --theme-gen-text-on-grey-700--subdued: #cac8cd;
  --theme-gen-text-on-grey-700--primary: #b69bff;
  --theme-gen-text-on-grey-700--primary-subdued--UNSAFE: #a18ae0;
  --theme-gen-text-on-grey-700--secondary: #feaa00;
  --theme-gen-text-on-grey-700--secondary-subdued--UNSAFE: #de9723;
  --theme-gen-text-on-grey-700--tertiary: #01d2fe;
  --theme-gen-text-on-grey-700--tertiary-subdued--UNSAFE: #21b9df;
  --theme-gen-text-on-grey-700--success: #01fc20;
  --theme-gen-text-on-grey-700--success-subdued--UNSAFE: #21dd2c;
  --theme-gen-text-on-grey-700--warning: #ff8d48;
  --theme-gen-text-on-grey-700--warning-subdued--UNSAFE: #df7e47;
  --theme-gen-text-on-grey-700--danger: #ff897e;
  --theme-gen-text-on-grey-700--danger-subdued--UNSAFE: #df7b72;

  --theme-gen-text-on-grey-800: #f8f5fd;
  --theme-gen-text-on-grey-800--subdued: #bebcc3;
  --theme-gen-text-on-grey-800--primary: #9578ff;
  --theme-gen-text-on-grey-800--primary-subdued--UNSAFE: #836ade;
  --theme-gen-text-on-grey-800--secondary: #feaa00;
  --theme-gen-text-on-grey-800--secondary-subdued--UNSAFE: #dd9415;
  --theme-gen-text-on-grey-800--tertiary: #01d2fe;
  --theme-gen-text-on-grey-800--tertiary-subdued--UNSAFE: #14b7dd;
  --theme-gen-text-on-grey-800--success: #01fc20;
  --theme-gen-text-on-grey-800--success-subdued--UNSAFE: #14db23;
  --theme-gen-text-on-grey-800--warning: #ff7000;
  --theme-gen-text-on-grey-800--warning-subdued--UNSAFE: #de6315;
  --theme-gen-text-on-grey-800--danger: #ff4d4c;
  --theme-gen-text-on-grey-800--danger-subdued--UNSAFE: #de4545;

  --theme-gen-text-on-grey-900: #f5f2fa;
  --theme-gen-text-on-grey-900--subdued: #b5b3ba;
  --theme-gen-text-on-grey-900--primary: #8b6ffc;
  --theme-gen-text-on-grey-900--primary-subdued--UNSAFE: #7960da;
  --theme-gen-text-on-grey-900--secondary: #feaa00;
  --theme-gen-text-on-grey-900--secondary-subdued--UNSAFE: #dc930b;
  --theme-gen-text-on-grey-900--tertiary: #01d2fe;
  --theme-gen-text-on-grey-900--tertiary-subdued--UNSAFE: #09b6dc;
  --theme-gen-text-on-grey-900--success: #01fc20;
  --theme-gen-text-on-grey-900--success-subdued--UNSAFE: #09da1e;
  --theme-gen-text-on-grey-900--warning: #ff7000;
  --theme-gen-text-on-grey-900--warning-subdued--UNSAFE: #dd610b;
  --theme-gen-text-on-grey-900--danger: #fd0031;
  --theme-gen-text-on-grey-900--danger-subdued--UNSAFE: #db082c;

  --theme-gen-color-primary-lighter: var(--theme-gen-color-primary-700);
  --theme-gen-color-primary: var(--theme-gen-color-primary-800);
  --theme-gen-color-primary-darker: var(--theme-gen-color-primary-900);
  --theme-gen-text-on-primary-lighter: var(--text-on-primary-700);
  --theme-gen-text-on-primary-lighter--subdued--UNSAFE: var(
    --theme-gen-text-on-primary-700--subdued--UNSAFE
  );
  --theme-gen-text-on-primary-lighter--vivid: var(--text-on-primary-700--vivid);
  --theme-gen-text-on-primary-lighter--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-primary-700--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-primary: var(--text-on-primary-800);
  --theme-gen-text-on-primary--subdued--UNSAFE: var(
    --theme-gen-text-on-primary-800--subdued--UNSAFE
  );
  --theme-gen-text-on-primary--vivid: var(--text-on-primary-800--vivid);
  --theme-gen-text-on-primary--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-primary-800--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-primary-darker: var(--text-on-primary-900);
  --theme-gen-text-on-primary-darker--subdued--UNSAFE: var(
    --theme-gen-text-on-primary-900--subdued--UNSAFE
  );
  --theme-gen-text-on-primary-darker--vivid: var(--text-on-primary-900--vivid);
  --theme-gen-text-on-primary-darker--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-primary-900--vivid-subdued--UNSAFE
  );

  --theme-gen-color-secondary-lighter: var(--theme-gen-color-secondary-200);
  --theme-gen-color-secondary: var(--theme-gen-color-secondary-300);
  --theme-gen-color-secondary-darker: var(--theme-gen-color-secondary-400);
  --theme-gen-text-on-secondary-lighter: var(--text-on-secondary-200);
  --theme-gen-text-on-secondary-lighter--subdued--UNSAFE: var(
    --theme-gen-text-on-secondary-200--subdued--UNSAFE
  );
  --theme-gen-text-on-secondary-lighter--vivid: var(
    --text-on-secondary-200--vivid
  );
  --theme-gen-text-on-secondary-lighter--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-secondary-200--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-secondary: var(--text-on-secondary-300);
  --theme-gen-text-on-secondary--subdued--UNSAFE: var(
    --theme-gen-text-on-secondary-300--subdued--UNSAFE
  );
  --theme-gen-text-on-secondary--vivid: var(--text-on-secondary-300--vivid);
  --theme-gen-text-on-secondary--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-secondary-300--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-secondary-darker: var(--text-on-secondary-400);
  --theme-gen-text-on-secondary-darker--subdued--UNSAFE: var(
    --theme-gen-text-on-secondary-400--subdued--UNSAFE
  );
  --theme-gen-text-on-secondary-darker--vivid: var(
    --text-on-secondary-400--vivid
  );
  --theme-gen-text-on-secondary-darker--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-secondary-400--vivid-subdued--UNSAFE
  );

  --theme-gen-color-tertiary-lighter: var(--theme-gen-color-tertiary-200);
  --theme-gen-color-tertiary: var(--theme-gen-color-tertiary-300);
  --theme-gen-color-tertiary-darker: var(--theme-gen-color-tertiary-400);
  --theme-gen-text-on-tertiary-lighter: var(--text-on-tertiary-200);
  --theme-gen-text-on-tertiary-lighter--subdued--UNSAFE: var(
    --theme-gen-text-on-tertiary-200--subdued--UNSAFE
  );
  --theme-gen-text-on-tertiary-lighter--vivid: var(
    --text-on-tertiary-200--vivid
  );
  --theme-gen-text-on-tertiary-lighter--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-tertiary-200--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-tertiary: var(--text-on-tertiary-300);
  --theme-gen-text-on-tertiary--subdued--UNSAFE: var(
    --theme-gen-text-on-tertiary-300--subdued--UNSAFE
  );
  --theme-gen-text-on-tertiary--vivid: var(--text-on-tertiary-300--vivid);
  --theme-gen-text-on-tertiary--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-tertiary-300--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-tertiary-darker: var(--text-on-tertiary-400);
  --theme-gen-text-on-tertiary-darker--subdued--UNSAFE: var(
    --theme-gen-text-on-tertiary-400--subdued--UNSAFE
  );
  --theme-gen-text-on-tertiary-darker--vivid: var(
    --text-on-tertiary-400--vivid
  );
  --theme-gen-text-on-tertiary-darker--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-tertiary-400--vivid-subdued--UNSAFE
  );

  --theme-gen-color-success-lighter: var(--theme-gen-color-success-400);
  --theme-gen-color-success: var(--theme-gen-color-success-500);
  --theme-gen-color-success-darker: var(--theme-gen-color-success-600);
  --theme-gen-text-on-success-lighter: var(--text-on-success-400);
  --theme-gen-text-on-success-lighter--subdued--UNSAFE: var(
    --theme-gen-text-on-success-400--subdued--UNSAFE
  );
  --theme-gen-text-on-success-lighter--vivid: var(--text-on-success-400--vivid);
  --theme-gen-text-on-success-lighter--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-success-400--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-success: var(--text-on-success-500);
  --theme-gen-text-on-success--subdued--UNSAFE: var(
    --theme-gen-text-on-success-500--subdued--UNSAFE
  );
  --theme-gen-text-on-success--vivid: var(--text-on-success-500--vivid);
  --theme-gen-text-on-success--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-success-500--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-success-darker: var(--text-on-success-600);
  --theme-gen-text-on-success-darker--subdued--UNSAFE: var(
    --theme-gen-text-on-success-600--subdued--UNSAFE
  );
  --theme-gen-text-on-success-darker--vivid: var(--text-on-success-600--vivid);
  --theme-gen-text-on-success-darker--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-success-600--vivid-subdued--UNSAFE
  );

  --theme-gen-color-warning-lighter: var(--theme-gen-color-warning-400);
  --theme-gen-color-warning: var(--theme-gen-color-warning-500);
  --theme-gen-color-warning-darker: var(--theme-gen-color-warning-600);
  --theme-gen-text-on-warning-lighter: var(--text-on-warning-400);
  --theme-gen-text-on-warning-lighter--subdued--UNSAFE: var(
    --theme-gen-text-on-warning-400--subdued--UNSAFE
  );
  --theme-gen-text-on-warning-lighter--vivid: var(--text-on-warning-400--vivid);
  --theme-gen-text-on-warning-lighter--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-warning-400--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-warning: var(--text-on-warning-500);
  --theme-gen-text-on-warning--subdued--UNSAFE: var(
    --theme-gen-text-on-warning-500--subdued--UNSAFE
  );
  --theme-gen-text-on-warning--vivid: var(--text-on-warning-500--vivid);
  --theme-gen-text-on-warning--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-warning-500--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-warning-darker: var(--text-on-warning-600);
  --theme-gen-text-on-warning-darker--subdued--UNSAFE: var(
    --theme-gen-text-on-warning-600--subdued--UNSAFE
  );
  --theme-gen-text-on-warning-darker--vivid: var(--text-on-warning-600--vivid);
  --theme-gen-text-on-warning-darker--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-warning-600--vivid-subdued--UNSAFE
  );

  --theme-gen-color-danger-lighter: var(--theme-gen-color-danger-400);
  --theme-gen-color-danger: var(--theme-gen-color-danger-500);
  --theme-gen-color-danger-darker: var(--theme-gen-color-danger-600);
  --theme-gen-text-on-danger-lighter: var(--text-on-danger-400);
  --theme-gen-text-on-danger-lighter--subdued--UNSAFE: var(
    --theme-gen-text-on-danger-400--subdued--UNSAFE
  );
  --theme-gen-text-on-danger-lighter--vivid: var(--text-on-danger-400--vivid);
  --theme-gen-text-on-danger-lighter--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-danger-400--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-danger: var(--text-on-danger-500);
  --theme-gen-text-on-danger--subdued--UNSAFE: var(
    --text-on-danger-500--subdued--UNSAFE
  );
  --theme-gen-text-on-danger--vivid: var(--text-on-danger-500--vivid);
  --theme-gen-text-on-danger--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-danger-500--vivid-subdued--UNSAFE
  );
  --theme-gen-text-on-danger-darker: var(--text-on-danger-600);
  --theme-gen-text-on-danger-darker--subdued--UNSAFE: var(
    --theme-gen-text-on-danger-600--subdued--UNSAFE
  );
  --theme-gen-text-on-danger-darker--vivid: var(--text-on-danger-600--vivid);
  --theme-gen-text-on-danger-darker--vivid-subdued--UNSAFE: var(
    --theme-gen-text-on-danger-600--vivid-subdued--UNSAFE
  );

  --theme-gen-pixels-1: 0.0625rem;
  --theme-gen-pixels-2: 0.125rem;
  --theme-gen-pixels-3: 0.1875rem;
  --theme-gen-pixels-4: 0.25rem;
  --theme-gen-pixels-5: 0.3125rem;
  --theme-gen-pixels-6: 0.375rem;
  --theme-gen-pixels-7: 0.4375rem;
  --theme-gen-pixels-8: 0.5rem;

  --theme-gen-text-size-xs: 0.75rem;
  --theme-gen-text-size-s: 0.875rem;
  --theme-gen-text-size-m: 1rem;
  --theme-gen-text-size-l: 1.125rem;
  --theme-gen-text-size-xl: 1.25rem;
  --theme-gen-text-size-xxl: 1.375rem;
  --theme-gen-text-size-xxxl: 1.625rem;

  --theme-gen-border-radius-xs: 0.125rem;
  --theme-gen-border-radius-s: 0.25rem;
  --theme-gen-border-radius-m: 0.5rem;
  --theme-gen-border-radius-l: 0.75rem;
  --theme-gen-border-radius-xl: 1rem;

  --theme-gen-text-weight-bold: 700;
  --theme-gen-text-weight-regular: 600;
  --theme-gen-text-weight-light: 300;

  --theme-gen-transition-150: 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
  --theme-gen-transition-300: 300ms cubic-bezier(0.25, 0.8, 0.25, 1);

  --theme-gen-border-width-thin: 0.0625rem;
  --theme-gen-border-width-default: 0.125rem;

  --theme-gen-focus-ring: 0 0 0 3px rgba(0, 81, 255, 0.5);
  --theme-gen-focus-ring-inset: 0 0 0 3px inset rgba(0, 81, 255, 0.5);

  --theme-gen-box-shadow-100: 0 0 3px rgba(0, 0, 0, 0.02),
    0 1px 3px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.08);
  --theme-gen-box-shadow-100-dark: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --theme-gen-box-shadow-100-focus: 0 0 0 3px rgba(0, 81, 255, 0.5),
    0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --theme-gen-box-shadow-200: 0 0 6px rgba(0, 0, 0, 0.02665),
    0 3px 6px rgba(0, 0, 0, 0.0533), 0 3px 6px rgba(0, 0, 0, 0.0766);
  --theme-gen-box-shadow-200-dark: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  --theme-gen-box-shadow-200-focus: 0 0 0 3px rgba(0, 81, 255, 0.5),
    0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --theme-gen-box-shadow-300: 0 0 20px rgba(0, 0, 0, 0.03165),
    0 10px 20px rgba(0, 0, 0, 0.0633), 0 6px 6px rgba(0, 0, 0, 0.0766);
  --theme-gen-box-shadow-300-dark: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  --theme-gen-box-shadow-300-focus: 0 0 0 3px rgba(0, 81, 255, 0.5),
    0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --theme-gen-box-shadow-400: 0 0 28px rgba(0, 0, 0, 0.04165),
    0 14px 28px rgba(0, 0, 0, 0.0833), 0 10px 10px rgba(0, 0, 0, 0.0733);
  --theme-gen-box-shadow-400-dark: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --theme-gen-box-shadow-400-focus: 0 0 0 3px rgba(0, 81, 255, 0.5),
    0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --theme-gen-box-shadow-500: 0 0 38px rgba(0, 0, 0, 0.05),
    0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.0733);
  --theme-gen-box-shadow-500-dark: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  --theme-gen-box-shadow-500-focus: 0 0 0 3px rgba(0, 81, 255, 0.5),
    0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
