.CanvasPointsOverlay {
  position: relative;
  box-sizing: border-box;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  &__chroma-slider {
    position: absolute;
    transform: translateY(50%);
    width: 100%;
  }

  &__target-chroma {
    position: absolute;
    top: 50%;
    height: 0.25rem;
    width: 0.25rem;
    border-radius: 100rem;
    background-color: rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
  }
}
